<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarPersonaModal" (click)="limpiar()">Agregar</button>

<!-- Modal -->
<div class="modal fade" id="agregarPersonaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form (ngSubmit)="agregar()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar nueva persona</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert" [ngClass]="tipoAlerta" role="alert" *ngIf="showAlert">
            <strong>{{tituloAlerta}}</strong> {{mensajeAlerta}}.
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>-->
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="pnombreInput">Primer nombre<span class="text-danger">*</span>:</label>
              <input type="text" class="form-control" id="pnombreInput" placeholder="Ingrese primer nombre..." required
                name="pnombre" [(ngModel)]="persona.pnombre">
              <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="form-group col-md-6">
              <label for="snombreInput">Segundo nombre:</label>
              <input type="text" class="form-control" id="snombreInput" placeholder="Ingrese segundo nombre..." name="snombre"
                [(ngModel)]="persona.snombre">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="papellidoInput">Primer apellido<span class="text-danger">*</span>:</label>
              <input type="text" class="form-control" id="papellidoInput" placeholder="Ingrese primer apellido..."
                required name="papellido" [(ngModel)]="persona.papellido">
            </div>
            <div class="form-group col-md-6">
              <label for="sapellidoInput">Segundo apellido:</label>
              <input type="text" class="form-control" id="sapellidoInput" placeholder="Ingrese segundo apellido..."
                name="sapellido" [(ngModel)]="persona.sapellido">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="edadInput">Edad:</label>
              <input type="text" class="form-control" id="edadInput" placeholder="Ingrese la edad..." name="edad"
                [(ngModel)]="persona.edad">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Crear</button>
        </div>
      </form>
    </div>
  </div>
</div>
